.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;  
  padding-top: 92px;
  padding-bottom: 96px;
  padding-left: 50px;
  padding-right: 50px;
}

.header__links-list {
 display: flex;
 gap: 32px;
 list-style: circle;   
 text-underline-offset: 3px;
}

.header__link_active {
 text-decoration: none;
}

.header__links-list-item_no-bullit {
 list-style: none;
}

.header__link {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 21px;
 color: #000000;
}

.header__logo {
 display: block;
 width: 148px;   
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  gap: 3px;
  max-width: 240px;
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-underline-offset: 5px;
}
.overlay {

}

.cover {
    background-image: url();//*добавить ссылку*//
    background-size: cover;
    background-position: center;
    color: #FFFF;
    margin-bottom: 180px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 0 24px 180px;
  }